<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">

    <title>We Are Tutors</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{% static '../../assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js' %} IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/libs/respond.js' %}/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
    
    <script src="{% static 'assets/js/modernizr.js' %}"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
         <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">WE ARE TUTORS.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/index/">HOME</a></li>        
            <li><a href="/courses/">COURSES</a></li>
            <li class="active"><a href="/blog/">BLOG</a></li>
            <li><a href="/about/">ABOUT</a></li>    
            <li><a href="/contact/">CONTACT</a></li>
            <li><a href="/login/">LOGIN</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Blog List.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 
	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 	
	 		<! -- BLOG POSTS LIST -->
	 		<div class="col-lg-8">
	 			<! -- Blog Post 1 -->
		 		<p><img class="img-responsive" src="{% static 'assets/img/post01.jpg' %}"></p>
		 		<a href="/blogpost1/"><h3 class="ctitle">Parallel Computing</h3></a>
		 		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p>For years software developers have been relying on hardware enhancements to mask the inefficiency of their programs. Starting from a few kHz of processing speed to MHz to now having GHz of processing power at our disposal, the performance gain provided by improvements in hardware technology has never failed to amaze us. We now expect the same to continue for years to come. But hold on a second… let us leave our world of comfort for a moment and look at it from a hardware engineer’s perspective.</p>

				
		 		<p><a href="/blogpost1/">[Read More]</a></p>
		 		<div class="hline"></div>
		 		
		 		<div class="spacing"></div>
		 		
	 			<! -- Blog Post 2 -->
		 		<p><img class="img-responsive" src="{% static 'assets/img/post02.jpg' %}"></p>
		 		<a href="/blogpost2/"><h3 class="ctitle">Image Stitching: A Simplistic Tutorial</h3></a>
		 		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p>I must say, even I was enjoying while developing this tutorial . Something about image perspective and enlarged images is simply captivating to a computer vision student (LOL) . I think, image stitching is an excellent introduction to the coordinate spaces and perspectives vision. Here I am going to show how to take an ordered set of many images, (assuming they have been shot from left to right direction)</p>
		 		<p><a href="/blogpost2/">[Read More]</a></p>
		 		<div class="hline"></div>

		 		<div class="spacing"></div>
		 		
	 			<! -- Blog Post 3 -->
		 		<p><img class="img-responsive" src="{% static 'assets/img/post03.png' %}"></p>
		 		<a href="/blogpost3/"><h3 class="ctitle">Caffe + ConvNets : Visual Recognition Made Easy</h3></a>
		 		<p><csmall>Posted: April 25, 2014.</csmall> | <csmall2>By: Admin - 3 Comments</csmall2></p>
		 		<p>To classify, recognize and localize objects in an image is a hot topic in Computer Vision and throughout the years various models have been established for the same. My previous post on Bag of Visual Words Model for Image Classification and Recognition illustrates one such model. Today I write about Convolutional Neural Networks and how to implement them in Caffe. and how to train a CNN for your own dataset. We will be using the standard dataset, but you can organize any other/personal dataset in a similar fashion.</p>
		 		<p><a href="/blogpost3/">[Read More]</a></p>
		 		<div class="hline"></div>
		 		
			</div><! --/col-lg-8 -->
	 		
	 		
	 		<! -- SIDEBAR -->
	 			 		<div class="col-lg-4">
		 		<h4>Search</h4>
		 		<div class="hline"></div>
		 			<p>
		 				<br/>
		 				<input type="text" class="form-control" placeholder="Search something">
		 			</p>
		 			
		 		<div class="spacing"></div>
		 		
		 		<h4>Categories</h4>
		 		<div class="hline"></div>
			 		<p><a href="#"><i class="fa fa-angle-right"></i>Neural Networks</a> <span class="badge badge-theme pull-right">9</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Processing</a> <span class="badge badge-theme pull-right">3</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i>Machine Learning</a> <span class="badge badge-theme pull-right">11</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Development</a> <span class="badge badge-theme pull-right">5</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Tips & Tricks</a> <span class="badge badge-theme pull-right">7</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Code Snippets</a> <span class="badge badge-theme pull-right">12</span></p>

		 		<div class="spacing"></div>
		 		
		 		<h4>Recent Posts</h4>
		 		<div class="hline"></div>
					<ul class="popular-posts">
		                <li>
		                    <a href="#"><img src="{% static 'assets/img/thumb01.jpg' %}" alt="Popular Post"></a>
		                    <p>Lorem Ipsem</p>
		                    <em>Posted on 02/21/14</em>
		                </li>
		                <li>
		                    <a href="#"><img src="{% static 'assets/img/thumb02.jpg' %}" alt="Popular Post"></a>
		                    <p>Lorem Ipsem</p>
		                    <em>Posted on 03/01/14</em>
		    
		            </ul>
		            
		 		<div class="spacing"></div>
		 		
		 		<h4>Popular Tags</h4>
		 		<div class="hline"></div>
		 			<p>
		            	<a class="btn btn-theme" href="#" role="button">Neural</a>
		            	<a class="btn btn-theme" href="#" role="button">Learning</a>
		            	<a class="btn btn-theme" href="#" role="button">Machine</a>
		            	<a class="btn btn-theme" href="#" role="button">Python</a>
		            	<a class="btn btn-theme" href="#" role="button">Processing</a>
		            	<a class="btn btn-theme" href="#" role="button">Linux</a>
		            	<a class="btn btn-theme" href="#" role="button">Pre-processor</a>
		            	<a class="btn btn-theme" href="#" role="button">Developer</a>
		            	<a class="btn btn-theme" href="#" role="button">Windows</a>
		            	<a class="btn btn-theme" href="#" role="button">Interface</a>		            	
		            	<a class="btn btn-theme" href="#" role="button">UI</a>			            	
		 			</p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	  <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>We are three Computer Science sophomores studying at University of Mumbai.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Location</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Mumbai<br/>
		 				India<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/retina-1.1.0.js' %}"></script>
	<script src="{% static 'assets/js/jquery.hoverdir.js' %}"></script>
	<script src="{% static 'assets/js/jquery.hoverex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
  	<script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
  	<script src="{% static 'assets/js/custom.js' %}"></script>


  </body>
</html>
